@import '../../../index.scss';

.btn-regular {
	padding: 1.6rem 2.4rem;
	color: white;
	border: none;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	transition: opacity 250ms ease 0s, color 350ms ease 0s;
	background-color: $primary-brand-100;	
}

.danger {
	background-color: $terciary-brand-100;

    &:hover {
        background-color: $terciary-brand-200;
    }
}

.primary {
	background-color: $primary-brand-100;

    &:hover {
        background-color: $primary-brand-200;
    }
}

.info {
	background-color: $secondary-brand-100;
    color: $secondary-brand-300;

    &:hover {
        background-color: $secondary-brand-300;
        color: white;
    }
}
