@import '../../index.scss';

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
    min-height: 100vh;
    animation: $animation;

    &__dashboard-header,
    &__list {
        width: 85%;
    }

    &__dashboard-header {
        display: flex;
        margin-top: 3rem;
    }

    &__list {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    &__no-invoices {
        display: grid;
        place-items: center;
        place-content: center;
        height: 100vh;
        text-align: center;
    }
}

.no-invoices {
    &__subtitle {
        margin-top: 4rem;
        color: $secondary-brand-400;
    }

    &__description {
        margin-top: 2rem;
        line-height: 2rem;
        color: $secondary-brand-200;

        span {
            font-weight: 700;
        }
    }
}

.dashboard-header {
    &__description {
        margin-right: auto;
    }

    &__btn {
        border: none;
        outline: none;
        background: none;
        margin-right: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;

        em {
            margin-left: 1rem;
            color: $primary-brand-100;
        }
    }
}

.list__item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3rem;
    background-color: white;
    margin-top: 2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0 10px 10px -10px hsla(232, 38%, 45%, 0.1);
    padding: 3rem 2.5rem;
    transition: all 100ms ease;

    &:hover {
        border: 1px solid $primary-brand-100;
    }
}

.item {
    &__id {
        margin-bottom: 2rem;
        color: $secondary-brand-400;
        font-weight: 700;

        span {
            color: $secondary-brand-300;
        }
    }

    &__pending-status {
        grid-column: 2;
        grid-row: 2/6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: hsl(34, 100%, 50%);
        background-color: rgba(255, 145, 0, 0.075);
        border-radius: .4rem;

        em {
            font-size: .6rem;
            margin-right: .5rem;
        }
    }

    &__paid-status {
        grid-column: 2;
        grid-row: 2/6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: #33D69F;
        background-color: rgba(51, 214, 160, 0.075);
        border-radius: .4rem;

        em {
            font-size: .6rem;
            margin-right: .5rem;
        }
    }

    &__name {
        text-align: center;
        margin-bottom: 2rem;
        color: $secondary-brand-200;
    }

    &__due-date {
        color: $secondary-brand-300;
        margin-bottom: 1rem;

        span {
            color: $secondary-brand-200;
            margin-right: .3rem;
        }
    }

    &__total {
        color: $secondary-brand-400;
        font: {
            weight: 700;
            size: 1.4rem;
        }
    }
}
