@import '../../../index.scss';

.btn {
	padding: 0.7rem 1rem;
	background-color: $primary-brand-100;	
	color: white;
	border: none;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	transition: background 250ms ease 0s, color 350ms ease 0s;

	&__icon {
		background-color: white;
		color: $primary-brand-100;
		padding: 1rem;
		margin-right: .6rem;
		border-radius: 50%;
	}

	&__name {
		margin-right: .5rem;
	}

	&:hover {
		background-color: $primary-brand-200;
	}
}