.form-container {
	&__wrap-title,
    &__form {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
}

.form {
    &__fieldset-from,
    &__fieldset-to,
    &__fieldset-date {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        width: 100%;
        border: none;
    }
}

.fieldset-from {
    &__legend,
    &__street,
    &__country {
        grid-column: 1 / span 2;
    }
}

.from-street__label {
    grid-column: 1 / span 2;
}

.fieldset-to {
    &__legend,
    &__name,
    &__email,
    &__street,
    &__country {
        grid-column: 1 / span 2;
    }
}

.fieldset-date {
    &__date-picker,
    &__payment-terms,
    &__project-description {
        grid-column: 1 / span 2;
    }
}

.payment-terms__select {
    width: 100%;
}

.input-container__input {
    width: 100%;
}