@import '../../index.scss';
@import './custom.datepiceker';

.form-container {
	&__wrap-title,
    &__form {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
}

.form {
    &__fieldset-from,
    &__fieldset-to,
    &__fieldset-date {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        width: 100%;
        border: none;
    }

    &__fieldset-items,
    &__fieldset-btn {
        display: block;
        width: 100%;
        border: none;
    }
}

.fieldset-from {
    &__legend,
    &__street,
    &__country {
        grid-column: 1 / span 2;
    }
}

.from-street__label {
    grid-column: 1 / span 2;
}

.fieldset-to {
    &__legend,
    &__name,
    &__email,
    &__street,
    &__country {
        grid-column: 1 / span 2;
    }
}

.fieldset-date {
    &__date-picker,
    &__payment-terms,
    &__project-description {
        grid-column: 1 / span 2;
    }
}

.payment-terms__select {
    width: 100%;
}

.input-container__input {
    width: 100%;
}

.fieldset-items {
    &__list-items {
        list-style: none;
    }
}

.list-items__item {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    width: 90%;
    grid-gap: 1rem;
}

.item {
    &__label {
        width: 100%;
    }

    &__label:first-child {
        grid-column: 1 / span 4;
    }
}