/* FONT */
$main-font: 'Spartan', sans-serif;

/* ANIMATION VARIABLE */
$animation: fadeIn 1.3s;

/* TEXT COLORS*/
$primary-brand-100: hsl(252, 94%, 67%);
$primary-brand-200: hsl(252, 100%, 73%);
$primary-brand-300: hsl(233, 31%, 17%);
$primary-brand-400: hsl(233, 30%, 21%);

$secondary-brand-100: hsl(231, 73%, 93%);
$secondary-brand-200: hsl(231, 20%, 61%);
$secondary-brand-300: hsl(231, 37%, 63%);
$secondary-brand-400: hsl(228, 29%, 7%);

$terciary-brand-100: hsl(0, 80%, 63%);
$terciary-brand-200: hsl(0, 100%, 80%);
$terciary-brand-300: hsl(240, 27%, 98%);
$terciary-brand-400: hsl(233, 30%, 11%);

$box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
$border-radius: .8rem;

/*Responsive Variables.*/
$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1020px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

/*Responsive Function*/
@mixin rwd($customBreakPoint) {
  @if map-has-key($breakpoints, $customBreakPoint) {
    @media screen and (min-width: map-get($breakpoints, $customBreakPoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $customBreakPoint) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.2rem;
    family: $main-font;
  }
  color: $secondary-brand-400;
  background-color: $terciary-brand-300;

  @include rwd(medium){
    font-size: 1.4rem;
  }

  @include rwd(xlarge){
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
}


input,
select {
  width: 100%;
  border: 1px solid $secondary-brand-100;
  margin-top: .5rem;
  border-radius: .3rem;
  padding: 1rem 1rem;

  &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 1px $primary-brand-100;
      border-radius: 0.3rem;
  }
}

input[type=text] {
  color: $secondary-brand-400;
  font-weight: 600;
}

label {
  color: $secondary-brand-300;
}

/*KEYFRAME ANIMATIONS*/
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}